body{
  background-color:black;
  font-family:arial;
  color:white
}
h1{
  color:grey;
  font-family:verdana
}
.maindiv{
  background-color:white;
  color:black;
  width:500px;
  padding:20px;
  border-radius:25px;
  align:center
}
.contents{
  margin-left:80px;
}
table td{
  padding-bottom:10px;
}
.labels{
  width:120px;
}
.highlight{
  background-color:#ffff00;
}

